{{/*
###
# Custom Functions
###
*/ -}}

# Time ZSH loadup, read more here: https://blog.mattclemente.com/2020/06/26/oh-my-zsh-slow-to-load.html#summary
timezsh() {
  shell=${1-$SHELL}
  for i in $(seq 1 10); do /usr/bin/time $shell -i -c exit; done
}

# Time p10k loadup, read more here: https://github.com/romkatv/powerlevel10k/blob/master/README.md#is-powerlevel10k-fast-to-load
timep10k() {
  time (repeat 10 zsh -dfis <<< 'source ~/.p10k.zsh; source ~/.oh-my-zsh/custom/themes/powerlevel10k/powerlevel10k.zsh-theme')
}
